spring:
  application:
    name: sensemore-tenant
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        "[format_sql]": true
  datasource:
    url: jdbc:mysql://localhost:3306/sensemore_tenant?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: Qa123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
      data-locations: classpath:db/data.sql
      schema-locations: classpath:db/schema.sql

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.sensemore.tenant.entity

server:
  port: 8081
  servlet:
    context-path: /api

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha

logging:
  level:
    root: INFO
    "[com.sensemore]": DEBUG
    "[com.baomidou.mybatis.plus]": DEBUG
